@import '../../app.scss';

.ticket {
    border: 1px solid $lightborder;
    border-radius: 15px;
    display: flex;
    gap: 1.25em;
    justify-content: space-between;
    padding: 1.25em 2.188em 2.125em 2.188em;
    &__title {
        flex: 1 1 auto;
        font-size: 1.125em;
    }

    &__status {
        font-size: 1.5em;
        flex: 0 1 7.5em;
        text-align: right;
    }
}