$border: 1px solid #111111;
$lightborder: #333333;
$fontcolor: #000000;
$avatarfont: #FFFFFF;
$btncolor: #FFFFFF;
$shadow: 0 2px 2px rgba(0, 0, 0, 0.22);

body {
    margin: 0;
    padding: 1em;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  transition-duration: 300ms;
}

body, button {
    font-family: Roboto;
    font-size: 1rem;
    color: $fontcolor;
    line-height: 1.5;
}

ul, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.app-btn {
    border: 1px solid transparent;
    background-color: $btncolor;
    border-radius: 10px;
    padding: 1em;
    cursor: pointer;
    font-size: 1.25em;
    text-transform: uppercase;
    &:hover {
        box-shadow: $shadow;
        border: $border;
    }
}